/* .reviewModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-basis: auto;
    padding: 10px 25px 15px 25px;
    width: fit-content;
}

.reviewModal button:not(#submit) {
    box-shadow: none;
    background-color: white;
} */

.stars .on {
    color: #d57794;
    width: 50px;
    border: none;
}

.stars .off {
    color: gainsboro;
    width: 50px;
    border: none;
}

.stars {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.stars button {
    box-shadow: none;
    width: 20px;
    background-color: white;
}

textarea {
    margin-top: 30px;
    margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
    .modal textarea {
        width: 100%;
    }
}
