.spotForm {
    display: grid;
    max-width: 500px;
    margin: auto;
}

.spotForm input {
    width: 95%;
    margin-top: 10px;
}

.spotForm textarea {
    width: 95%;
    margin-top: 15px;
}

.cityState {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 500px;
}

#streetaddress {
    width: 95%;
    margin-top: 20px;
}

.imageContainer {
    margin-bottom: 20px !important;
}

#img2 {
    width: 95%;
    margin-top: 20px;
}

.countryError {
    margin-bottom: -10px !important;
}

.imageError {
    margin-bottom: -10px !important;
}


#city {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-items: baseline;

}

#state {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 98%;
    justify-self: start;
}

.latLng {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
    margin-top: -5px;
    column-gap: 8px;
}

#lat {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-items: baseline;
}

#lng {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 94.785%;
    justify-self: start;
}

.price {
    display: inline-flex;
    width: 496px;
    align-items: baseline;
}

.price .floating-label {
    margin-left: 13px;
    margin-top: 8px;
}

.priceError {
    margin-left: 24px !important;
}

#city .floating-label,
#state .floating-label,
#lat .floating-label,
#lng .floating-label {
    margin-top: 10px;
}

.spotForm hr {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    width: 494px;
}

.spotForm hr.extraMarginHr {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
}

.spotForm hr.extraMarginHrPrice {
    margin-top: 35px !important;
    margin-bottom: 10px !important;
}

.spotForm hr.extraMarginHrImg5 {
    margin-top: 40px !important;
}

#submit {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:535px) {
    form {
        width: 95%;
        margin-left: 20px;
        margin-right: 25px;
    }

    .spotForm {
        width: 95%;
        margin-left: 0px;
        margin-right: 25px;
    }

    .spotForm input,
    input#streetaddress,
    input#img2 {
        width: 88%;
    }

    .cityState {
        width: 93.1%;
    }

    .latLng {
        width: 94%;
    }

    #lat {
        width: 93%;
    }

    #lng {
        width: 93%;
    }

    .price {
        width: 96%;
    }

    .spotForm textarea {
        width: 88%;
    }

    .spotForm hr {
        width: 90%;
    }
}
