.createSpotForm {
    display: grid;
    max-width: 500px;
    margin: auto;
}

.createSpotForm input {
    width: 95%;
    margin-top: 10px;
}

.createSpotForm textarea {
    width: 95%;
    margin-top: 15px;
}

.cityState {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 500px;
}

#streetaddress {
    width: 95%;
    margin-top: 20px;
}

/* .previewImageContainer {
    margin-bottom: 10px !important;
} */

.imageContainer {
    margin-bottom: 20px !important;
}

#img2 {
    width: 95%;
    margin-top: 20px;
}

.countryError {
    margin-bottom: -10px !important;
}

.imageError {
    margin-bottom: -10px !important;
}

#city {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-items: baseline;
}

#state {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 98%;
    justify-self: start;
}

.latLng {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
    margin-top: -5px;
    column-gap: 8px;
}

#lat {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-items: baseline;
}

#lng {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 94.785%;
    justify-self: start;
}

.price {
    display: inline-flex;
    width: 496px;
    align-items: baseline;
}

.price .floating-label {
    margin-left: 13px;
    margin-top: 8px;
}

.priceError {
    margin-left: 24px !important;
}

.cityState .floating-label,
.latLng .floating-label {
    margin-top: 10px;
}

.createSpotForm hr {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 494px;
}

.createSpotForm hr:last-child {
    margin-top: 30px;
    margin-bottom: 20px;
}

#submit {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:500px) {
    form {
        width: 95%;
        margin-left: 10px;
        margin-right: 15px;
    }

    .createSpotForm input,
    input#streetaddress,
    input#img2 {
        width: 88%;
    }

    .cityState {
        width: 93.1%;
    }

    .latLng {
        width: 94%;
    }

    #lat {
        width: 93%;
    }

    #lng {
        width: 93%;
    }

    .price {
        width: 96%;
    }

    .createSpotForm textarea {
        width: 88%;
    }

    .createSpotForm hr {
        width: 90%;
    }
}
