.createSpotForm {
    display: grid;
    max-width: 500px;
    margin: auto;
}

.createSpotForm input {
    width: 95%;
    margin-top: 10px;
}

.createSpotForm textarea {
    width: 95%;
    margin-top: 15px;
}

.cityState {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 500px;
}

#streetaddress {
    width: 95%;
    margin-top: 20px;
}

.countryError {
    margin-bottom: -10px !important;
}

#city {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 98%;
    align-items: baseline;
}

#state {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 94.5%;
    justify-self: start;
}

.latLng {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
    margin-top: -5px;
}

#lat {
    display: inline-flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 243.05px;
    align-items: baseline;
}

#lng {
    display: inline-flex;
    grid-column: 2/3;
    grid-row: 1/2;
    /* margin-left: 10px; */
    width: 239px;
    justify-self: start;
}

.price {
    display: inline-flex;
    width: 489px;
    align-items: baseline;
}

.price .floating-label {
    margin-left: 13px;
    margin-top: 8px;
}

.priceError {
    margin-left: 24px !important;
}

.cityState .floating-label,
.latLng .floating-label {
    margin-top: 10px;
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 494px;
}

#submit {
    display: flex;
    justify-content: center;
}
