/* TODO: Add sitewide styles */
body {
    font-family: 'Quicksand', sans-serif;
    margin-left: calc(100% - 98%);
    margin-right: calc(100% - 98%);
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #d3bcc9;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}
