/* TODO: Add sitewide styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-left: calc(100% - 98%);
    margin-right: calc(100% - 98%);
    margin-bottom: 30px;

}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #d57794;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    border: 2px black solid;
    box-shadow: 2px 2px 0px black;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: gainsboro;
    font-weight: 400;
    color: #b6b6b6;
    cursor: not-allowed;
}


textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    width: 475px;
    height: 75px;
    border: solid black 2px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}

h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 10px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-basis: auto;
    padding: 10px 25px 5% 25px;
    width: fit-content;
}

.modal h1 {
    margin-bottom: 0px;
}

.modal button {
    margin-top: 5px;
    width: 315px;
    height: 35px;
}

#noButton {
    background-color: gray;
}

.error {
    margin-top: -5px;
    color: red;
}

input {
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    line-height: 1.25;
}


.inputContainer {
    position: relative;
}

.inputContainer input:focus~label,
.inputContainer input:not([placeholder=''])~label,
.inputContainer input:not(:placeholder-shown)~label {
    top: -12px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    cursor: default;
}

.floating-label {
    position: absolute;
    color: #757575;
    left: 10px;
    top: 10px;
    transition: 300ms ease all;
    cursor: text;
    font-weight: 400;
}

input:focus {
    outline: none;
}
