/* TODO: Add sitewide styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-left: calc(100% - 98%);
    margin-right: calc(100% - 98%);
    margin-bottom: 30px;

}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #d57794;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

input {
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    width: 475px;
    height: 75px;
    border: solid black 2px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}
