.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;
}

.nav h1 {
    font-family: 'Yeseva One', serif;
    font-size: 40px;
    color: #1c5759;
    display: grid;
    justify-items: start;
}

.createSpot {
    margin-right: 15px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.menuIcon {
    color: #d3bcc9;
    cursor: pointer;
    border: #d3bcc9 solid 2px;
    border-radius: 20px;
    padding: 15px 15px 12px 15px;
    width: 50px;
}

.profile-dropdown {
    position: absolute;
    border: #d3bcc9 solid 2px;
    border-radius: 5px;
    padding: 15px;
    margin-top: 8px;
    margin-left: -67px;
    background-color: white;
    width: 100px;
}

.hidden {
    display: none;
}
