.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-basis: auto;
    padding: 10px 25px 15px 25px;
    width: fit-content;
}

.login button {
    margin-top: 5px;
    width: 315px;
    height: 35px;
}

.login button:disabled {
    background-color: gainsboro;
    font-weight: 400;
    color: #b6b6b6;
    cursor: not-allowed;
}

.error {
    margin-top: -5px;
    color: red;
}
